td.data-bar-cell {
    padding: 4px 8px;
    text-align: center !important;
}

td.data-bar-cell .data-bar-wrapper {
    position: relative;
}

td.data-bar-cell .data-bar-wrapper .data-bar-left {
    height: 16px;
    min-width: 1px;
    background-color: #5479AF;
    position: absolute;
    right: 0px;
}

td.data-bar-cell .data-bar-wrapper .data-bar-right {
    height: 16px;
    min-width: 1px;
    background-color: #838383;
    position: relative;
    left: 0px;
    border-style: solid;
    border-width: 1px;
}

.data-bar-over { color: #FFFFFF; }
.data-bar-under { color: #000000; }

.data-bar-text-overlay {
    z-index: 10;
    text-align: center;
    width:100%;
}
