
.input-text {
    display: none !important;
}

.input-dropdown {
    display: block !important;
}

/* Custom Icons */
td.icon {
    text-align: center;
}

td.icon i {
    font-size: 25px;
    text-shadow: 1px 1px #aaa;
}

td.icon .extreme,
td.icon .severe {
    color: red;
}

td.icon .elevated {
    color: orangered;
}

td.icon .quar,
td.icon .coldwarn,
td.icon .homewarn,
td.icon .hotwarn,
td.icon .totalwarn,
td.icon .warn,
td.icon .warmwarn {
    color: #cc8800;
}

td.icon .low {
    color: #006400;
}

/* Row Coloring */
#highlight tr td {
    background-color: #c1ffc3 !important;
}

#highlight tr.range-elevated td {
    background-color: #ffc57a !important;
}

#highlight tr.range-severe td {
    background-color: #d59392 !important;
}

#highlight .table td {
    border-top: 1px solid #fff;
}

#highlight td.range-severe, td.range-elevated {
    font-weight: bold;
}

.icon-inline i {
    font-size: 18px;
    margin-left: 5px;
}

.icon-inline i.icon-alert-circle {
    color: #ef392c;
}

.icon-inline i.icon-alert {
    color: #ff9c1a;
}

.icon-inline i.icon-check {
    color: #5fff5e;
}

td.data-bar-cell {
    padding: 4px 8px;
    text-align: center !important;
}

td.data-bar-cell .data-bar-wrapper {
    position: relative;
}

td.data-bar-cell .data-bar-wrapper .data-bar-right {
    height: 16px;
    min-width: 1px;
    background-color: #838383;
    position: absolute;
    left: 0px;
}
